
/*@import "../../styles/common.css";*/

@font-face {
   font-family: 'Calibre';
   src:url('../../fonts/Calibre-Regular.ttf') format('truetype');
   font-weight: 400;
}
@font-face {
   font-family: 'Calibre';
   src: url('../../fonts/Calibre-Medium.ttf') format('truetype');
   font-weight: 700;
}
@font-face {
   font-family: 'Calibre';
   src: url('../../fonts/Calibre-Semibold.ttf') format('truetype');
   font-weight: 900;
}
.test1 {
	color: red;
	font-family: 'Calibre';
	font-weight: 400;
	font-size: 50px;
}
.test2 {
	color: red;
	font-family: 'Calibre';
	font-weight: 700;
	font-size: 50px;
}
.test3 {
	color: green;
	font-family: "Calibre";
	font-weight: 900;
	font-size: 50px;
}
html {
	font-size: responsive;
	lower-font-range: 768px;
	upper-font-range: 992px;
	min-font-size: 16px;
	max-font-size: 20px;
}
img {
	max-width: 300px;
}
:root {
  --mainColor: red;
  --fontSize: 16px;
}
/* zxczxczxc */
.txxx {
	color: red;
}
.cssnext {
	font-size: calc(16px * 2);
	color: var(--mainColor);
	width: 100px;
	height: 100px;
	border: 1px solid #ccc;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media only screen and (min-width: 415px) {

    .pace {
        animation: pace-anim 5s;
    }

    @keyframes pace-anim {
        100% {
            opacity: 0;
        }
    }

}